{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <p class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </p>
{% endif %}

<form class="card form-signin" action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    {% endif %}

    <div class="text-center">
        <img class="card-img-top" width="128" height="128" src="{{ asset('logo/logo.png') }}"/>
    </div>

    <h2 class="form-signin-heading p-3 text-center">Veuillez vous identifier</h2>

    <div class="form-group">
        <label for="username" class="sr-only">E-mail</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-at fa-fw" aria-hidden="true"></i></span>
            <input type="email" id="username" class="form-control" name="_username" value="{{ last_username }}"
                   placeholder="E-mail" required="required"/>
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="sr-only">{{ 'security.login.password'|trans }}</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
            <input type="password" id="password" class="form-control" name="_password"
                   placeholder="{{ 'security.login.password'|trans }}" required="required"/>
        </div>
    </div>

    <div class="form-group">
        <label class="custom-control custom-checkbox">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="custom-control-input"/>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'security.login.remember_me'|trans }}</span>
        </label>
        <a class="float-right" href="{{ path('fos_user_resetting_request') }}"><small>Mot de passe oublié ?</small></a>
    </div>

    <input type="submit" id="_submit" class="btn btn-primary btn-lg btn-block" name="_submit" value="S'identifier"/>
</form>

<div class="row mt-5">
    <div class="col-sm-6">
        <h2>Utilisateurs : </h2>
        <ul>
            <li>
                <h3>Administrateur</h3>
                <p>Email: admin@yopmail.com <br/>
                    Mot de passe: admin</p>
            </li>
            <li>
                <h3>Responsable de formation</h3>
                <p>Email: manager@yopmail.com <br/>
                    Mot de passe: manager</p>
            </li>
            <li>
                <h3>Jury</h3>
                <p>Email: jury@yopmail.com <br/>
                    Mot de passe: jury</p>
            </li>
            <li>
                <h3>Etudiant</h3>
                <p>Email: student@yopmail.com <br/>
                    Mot de passe: student</p>
            </li>
        </ul>
    </div>
    <div class="col-sm-6">
        <h2>Documents relatifs :</h2>
        <ul>
            <li>
                <a href="{{ asset('docs/diaporama.pdf') }}">Diaporama soutenance</a>
            </li>
            <li>
                <a href="{{ asset('docs/manuel.pdf') }}">Manuel utilisateur</a>
            </li>
            <li>
                <a href="https://gitlab.com/al37350/suivi_alternants">Répertoire gitlab</a>
            </li>
        </ul>
    </div>
</div>